
/*All pages*/

* {
  font-family: 'Comfortaa', cursive;
}

/* Page 1 */

.page1 {
  max-width: 1024px;
  max-height: 700px;
  margin-left: auto;
  margin-right: auto;

}

.wrapper {
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  height: 700px;
  /*border: 1px solid grey;*/
  border-radius: 10px;
  background-color: #96ceb4;
}

.container-fixed {
  padding: 0px;
  margin-left: 350px;
  margin-right: auto;
  margin-top: 50px;
  width: 600px;
  height: 500px;
  /*border: 1px solid grey;*/
  border-radius: 10px;
}

.form-group {
  padding: 10px 0 20px 10px;
}

.container {
  padding: 10px 0 20px 10px;
}

.btn-primary {
  padding: 10px 0 20px 10px;
}

.p1SmallContainer {
  max-width: 500px;
  max-height: 400px;
  margin-left: 0 auto;
  margin-right: 0 auto;
}


.p1header {
  font-family: 'Chewy', cursive;
  font-size: 40px;
  text-align: center;
  padding: 5px;
  font: white;
}

.form-control-mg {
  justify-content: center;
}


/*Page 2*/

.page2 {
  max-width: 1024px;
  max-height: 700px;
  margin-left: auto;
  margin-right: auto;

}

.p2header {
  font-family: 'Chewy', cursive;
  font-size: 40px;
  text-align: center;
  padding: 5px;
  font: white;
}

.container-fluid {
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  height: 700px;
  /*border: 1px solid grey;*/
}

#subcontainer {
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  height: 700px;
  /*border: 1px solid grey;*/
  border-radius: 10px;
}

.header {
  font-family: 'Chewy', cursive;
  font-size: 40px;
  text-align: center;
  padding: 5px;
  font: white;
}

/* PAGE2 LEFT*/

/*#emptycol {
  height : 50px;
}

.col-md-4 {
  height: 50px;
}*/

#right{
  /*border: 1px solid violet;*/

}

.row:after {
  content: "";
  display: block;
  clear: both;
}

.col-md-4 {
  height: 150px;
}

#left img {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 150px;
}

.col-md-2 {
  height: 150px;
}

.col-md-2 img {
  width: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  /*border: 1px solid white;*/
}

#messages{
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  text-align: center;
  color: #ffeead;
  font-size: 30px;
  font-weight: bold;
}

#names {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  /*border: 1px solid white;*/
}

#avatarsa {
  position: relative;
}

#avatarsa > :hover {
  transform: scale(1.1, 1.1);
}


#stack:hover {
  transform: scale(1.1, 1.1);
}

/*#receiveNewCard {
  height: 300px;
}*/

#newstack {

  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

#msgdisplay {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  font-size: 15px;
}

#P1b {
  margin-left: 150px;
  margin-right: auto;
  align-items: center;
}


/*Page 3*/

.containerp3 {
  position: absolute;
  left: 20%;
}
.roulette {
  position: absolute;
  margin: 0 auto;
  width: 600px;
  height: 600px;
  left: 40%;
  /*background-color: red;*/
  background-size: 600px 600px;
  background-image: url('images/roulette.png');
  border-radius: 600px;
}

.spinner {
  cursor: pointer;
  color: red;
  font-weight: bold;
  border: none;
  position: relative;
  width: 190px;
  height: 190px;
  top: 195px;
  left: 290px;
  border-radius: 100%;
  z-index: 1000;
  background-color: blue;
}

.spinner .pointer {
  position: absolute;
  width: 0;
	height: 0;
  top: -10px;
  left: 85px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid blue;
}



/*Pages Rules*/

.pagerules {
  max-width: 1024px;
  max-height: 700px;
  margin-left: auto;
  margin-right: auto;
}

 #containerrules {
   width: 800px;
   height: 600px;
   margin-left: auto;
   margin-right: auto;
 }

 #rules {
   margin-left: 50px;
 }

#rulestitles {
  text-align: center;
  font-weight: bold;
  color: white;
}

#queenOfThumbs {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
